



body {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    background-color: #faf3dc;
    border-radius: 200px;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.header {
    background-image: url(../me.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h2::first-letter {
    font-size: 200%;
}

.header2 {
    display: flex;
    justify-content: flex-start;
    align-content: left;
}
.header3 {
    display: flex;
    justify-content: center;    
    align-content: flex-start;
}

img {
    display: block;
    margin: auto;
    width: 30%;
    height: auto;
}

p {
    text-align: center;
}