* {
    font-family: Helvetica;
   }
h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}
#brush {
    background-color: mediumspringgreen;
}
#frame {

    background-color: lightcoral;
}
#paint {
    background-color: skyblue;
}
.special {
    font-weight: bold;
    color: blue
}
h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
